Repository qws941/resume: changes, and which GitLab CI jobs are due for each by the changed paths.
All: profile:sync, terraform:plan, terraform:apply

profile:sync:
  stage: maintenance
  image: curlimages/curl:latest
  script:
  - echo "=== Syncing Profile from SSOT via Worker API ==="
  ...

terraform:plan:
  image: hashicorp/terraform:1.7
  variables:
    TF_ROOT: infrastructure/cloudflare
  before_script:
  - cd $TF_ROOT
  ...

terraform:apply:
  image: hashicorp/terraform:1.7
  variables:
    TF_ROOT: infrastructure/cloudflare
  before_script:
  - cd $TF_ROOT
  ...

feat: terminal UI redesign, content enhancement, CI lint fixes
  .eslintignore
  .github/workflows/ci.yml
  playwright.config.js
  tests/e2e/accessibility.spec.js
  tests/e2e/comprehensive.spec.js
  tests/e2e/downloads.spec.js
  tests/e2e/interactions.spec.js
  tests/e2e/mobile.spec.js
  tests/e2e/performance.spec.js
  tests/e2e/portfolio.spec.js
  tests/e2e/seo.spec.js
  tests/integration/resume-sync-validation.test.js
  tools/ci/run-affected.js
  tools/scripts/verification/check-agents-coverage.js
  typescript/data/resumes/archive/docs/worker.js
  typescript/data/resumes/master/resume_data.json
  typescript/job-automation/scripts/auth-persistent.js
  typescript/job-automation/scripts/auth-sync.js
  typescript/portfolio-worker/data.json
  typescript/portfolio-worker/generate-og-image.js
  typescript/portfolio-worker/generate-project-schemas.js
  typescript/portfolio-worker/generate-worker.js
  typescript/portfolio-worker/index-en.html
  typescript/portfolio-worker/index.html
  typescript/portfolio-worker/inject-project-schemas.js
  typescript/portfolio-worker/lib/cards.js
  typescript/portfolio-worker/lib/security-headers.js
  typescript/portfolio-worker/lib/validators.js
  typescript/portfolio-worker/package.json
  typescript/portfolio-worker/patch-project-schemas.js
  typescript/portfolio-worker/sentry-config.js
  typescript/portfolio-worker/src/scripts/main.js
  typescript/portfolio-worker/src/styles/base.css
  typescript/portfolio-worker/src/styles/components.css
  typescript/portfolio-worker/worker.js
Due: profile:sync

fix(ci): correct job-automation test glob pattern
  typescript/job-automation/package.json
Due: none

refactor: remove GitLab references, migrate to GitHub naming
  docs/reports/ROOT_DIRECTORY_REVIEW_2026-01-08.md
  infrastructure/monitoring/grafana-dashboard-resume-portfolio.json
  tests/e2e/comprehensive.spec.js
  tests/e2e/downloads.spec.js
  tests/unit/lib/cards.test.js
  tests/unit/lib/config.test.js
  tests/unit/lib/validators.test.js
  tools/scripts/utils/oracle-review.js
  tools/scripts/utils/sync-resume-data.js
  typescript/data/resumes/master/resume_final.md
  typescript/data/resumes/master/resume_master.md
  typescript/data/resumes/technical/deployment.md
  typescript/data/resumes/technical/troubleshooting.md
  typescript/portfolio-worker/data.json
  typescript/portfolio-worker/generate-worker.js
  typescript/portfolio-worker/lib/cards.js
  typescript/portfolio-worker/lib/config.js
  typescript/portfolio-worker/lib/validators.js
  typescript/portfolio-worker/src/scripts/modules/ab-test.js
Due: none

ci: remove scheduled triggers, fix neon theme CSS
  .github/workflows/maintenance.yml
  typescript/portfolio-worker/src/styles/base.css
  typescript/portfolio-worker/src/styles/components.css
  typescript/portfolio-worker/src/styles/layout.css
  typescript/portfolio-worker/worker.js
Due: none

fix(portfolio): resolve CSP hash mismatch causing CSS block
  typescript/portfolio-worker/generate-worker.js
  typescript/portfolio-worker/index-en.html
  typescript/portfolio-worker/index.html
  typescript/portfolio-worker/lib/security-headers.js
  typescript/portfolio-worker/src/scripts/modules/theme.js
  typescript/portfolio-worker/src/scripts/modules/ui.js
  typescript/portfolio-worker/src/styles/base.css
  typescript/portfolio-worker/worker.js
Due: none

fix(portfolio): escape backslashes in template literals for CSP hash match
  typescript/portfolio-worker/generate-worker.js
  typescript/portfolio-worker/lib/config.js
  typescript/portfolio-worker/worker.js
Due: none

chore: remove orphaned sentry-config.js
  typescript/portfolio-worker/sentry-config.js
Due: none

docs(resume): 소개말 개선 및 용어 수정
  typescript/data/resumes/master/resume_data.json
Due: profile:sync

chore: regenerate worker.js with updated resume data
  typescript/portfolio-worker/data.json
  typescript/portfolio-worker/worker.js
Due: none

feat(data): update infrastructure section with 11 components
  typescript/data/resumes/master/resume_data.json
  typescript/portfolio-worker/data.json
Due: profile:sync

feat(portfolio): terminal hacker style redesign
  AGENTS.md
  docs/AGENTS.md
  infrastructure/AGENTS.md
  infrastructure/cloudflare/AGENTS.md
  tests/AGENTS.md
  third_party/AGENTS.md
  tools/AGENTS.md
  tools/scripts/AGENTS.md
  tools/scripts/build/AGENTS.md
  typescript/cli/AGENTS.md
  typescript/data/AGENTS.md
  typescript/job-automation/AGENTS.md
  typescript/job-automation/docs/AGENTS.md
  typescript/job-automation/platforms/AGENTS.md
  typescript/job-automation/scripts/AGENTS.md
  typescript/job-automation/src/AGENTS.md
  typescript/job-automation/src/auto-apply/AGENTS.md
  typescript/job-automation/src/crawlers/AGENTS.md
  typescript/job-automation/src/shared/AGENTS.md
  typescript/job-automation/src/tools/AGENTS.md
  typescript/job-automation/workers/AGENTS.md
  typescript/portfolio-worker/AGENTS.md
  typescript/portfolio-worker/index-en.html
  typescript/portfolio-worker/index.html
  typescript/portfolio-worker/lib/AGENTS.md
  typescript/portfolio-worker/src/styles/components.css
  typescript/portfolio-worker/src/styles/layout.css
  typescript/portfolio-worker/worker.js
Due: terraform:plan, terraform:apply

feat(portfolio): full cyberpunk effects
  typescript/portfolio-worker/index-en.html
  typescript/portfolio-worker/index.html
  typescript/portfolio-worker/src/styles/animations.css
  typescript/portfolio-worker/src/styles/main.css
  typescript/portfolio-worker/worker.js
Due: none

perf(portfolio): optimize matrix rain with requestAnimationFrame
  package-lock.json
  typescript/portfolio-worker/index-en.html
  typescript/portfolio-worker/index.html
  typescript/portfolio-worker/worker.js
Due: none

refactor(about): simplify intro to terminal output style
  typescript/portfolio-worker/index.html
  typescript/portfolio-worker/worker.js
Due: none

feat(portfolio): add interactive CLI, status page, easter eggs, snake game
  typescript/portfolio-worker/index.html
  typescript/portfolio-worker/lib/cards.js
  typescript/portfolio-worker/src/styles/components.css
  typescript/portfolio-worker/worker.js
Due: none

fix(portfolio): snake event listener cleanup, status page cors mode
  typescript/portfolio-worker/index.html
  typescript/portfolio-worker/worker.js
Due: none

fix(csp): add unsafe-inline to style-src-elem and job.jclee.me to connect-src
  typescript/portfolio-worker/lib/security-headers.js
  typescript/portfolio-worker/worker.js
Due: none

test(e2e): change waitForLoadState from networkidle to domcontentloaded
  tests/e2e/accessibility.spec.js
  tests/e2e/comprehensive.spec.js
  tests/e2e/downloads.spec.js
  tests/e2e/error-tracking.spec.js
  tests/e2e/interactions.spec.js
  tests/e2e/mobile.spec.js
  tests/e2e/performance.spec.js
  tests/e2e/portfolio.spec.js
  tests/e2e/pwa.spec.js
  tests/e2e/security.spec.js
  tests/e2e/seo.spec.js
  tests/e2e/visual.spec.js
Due: none

ci(security): harden ci.yml with least-privilege permissions and reliability fixes
  .github/workflows/ci.yml
Due: none

ci: remove dead drift-detection job from terraform.yml
  .github/workflows/terraform.yml
Due: none

Path conditions:
  profile:sync: any of: typescript/data/resumes/master/resume_data.json
  terraform:plan: any of: infrastructure/cloudflare/**/*
  terraform:apply: any of: infrastructure/cloudflare/**/*
