Repository qws941/resume: changes, and which GitLab CI jobs are due for each by the changed paths.
All: profile:sync, terraform:plan, terraform:apply

Path conditions:
  profile:sync: any of: typescript/data/resumes/master/resume_data.json
  terraform:plan: any of: infrastructure/cloudflare/**/*
  terraform:apply: any of: infrastructure/cloudflare/**/*

fix: affected.sh output JSON object format for CI parsing
  tools/ci/affected.sh
Due: none

fix: replace gitleaks-action with CLI (org repos need paid license)
  .github/workflows/ci.yml
Due: none

chore: remove .gitlab-ci.yml (migrated to GitHub Actions)
  .affected/affected_targets.json
  .gitlab-ci.yml
Due: none

chore: update totalExperience to 7년 11개월 (Feb 2026)
  typescript/data/resumes/master/resume_data.json
Due: profile:sync

fix(ci): use github.event.before for push event affected analysis
  .github/workflows/ci.yml
Due: none

test: trigger portfolio deploy with data change
  typescript/data/resumes/master/resume_data.json
Due: profile:sync

fix(e2e): update tests for AIOps branding and site changes
  tests/e2e/comprehensive.spec.js
  tests/e2e/downloads.spec.js
  tests/e2e/seo.spec.js
Due: none

feat(e2e): add SKIP_WEBSERVER option for production testing
  playwright.config.js
Due: none

fix(portfolio): add metrics.requests_success++ to all 2xx response paths
  typescript/portfolio-worker/worker.js
Due: none

docs: refresh AGENTS.md hierarchy timestamps to 9568b99
  AGENTS.md
  docs/AGENTS.md
  infrastructure/AGENTS.md
  infrastructure/cloudflare/AGENTS.md
  job-automation-mcp/AGENTS.md
  tests/AGENTS.md
  third_party/AGENTS.md
  tools/AGENTS.md
  tools/scripts/AGENTS.md
  tools/scripts/build/AGENTS.md
  typescript/cli/AGENTS.md
  typescript/data/AGENTS.md
  typescript/job-automation/AGENTS.md
  typescript/job-automation/platforms/AGENTS.md
  typescript/job-automation/scripts/AGENTS.md
  typescript/job-automation/src/AGENTS.md
  typescript/job-automation/src/auto-apply/AGENTS.md
  typescript/job-automation/src/crawlers/AGENTS.md
  typescript/job-automation/src/shared/AGENTS.md
  typescript/job-automation/src/tools/AGENTS.md
  typescript/job-automation/workers/AGENTS.md
  typescript/portfolio-worker/AGENTS.md
  typescript/portfolio-worker/lib/AGENTS.md
Due: terraform:plan, terraform:apply

docs: refresh AGENTS.md hierarchy timestamps to 0b3bac8
  AGENTS.md
  docs/AGENTS.md
  infrastructure/AGENTS.md
  infrastructure/cloudflare/AGENTS.md
  job-automation-mcp/AGENTS.md
  tests/AGENTS.md
  third_party/AGENTS.md
  tools/AGENTS.md
  tools/scripts/AGENTS.md
  tools/scripts/build/AGENTS.md
  typescript/cli/AGENTS.md
  typescript/data/AGENTS.md
  typescript/job-automation/AGENTS.md
  typescript/job-automation/platforms/AGENTS.md
  typescript/job-automation/scripts/AGENTS.md
  typescript/job-automation/src/AGENTS.md
  typescript/job-automation/src/auto-apply/AGENTS.md
  typescript/job-automation/src/crawlers/AGENTS.md
  typescript/job-automation/src/shared/AGENTS.md
  typescript/job-automation/src/tools/AGENTS.md
  typescript/job-automation/workers/AGENTS.md
  typescript/portfolio-worker/AGENTS.md
  typescript/portfolio-worker/lib/AGENTS.md
Due: terraform:plan, terraform:apply

docs(portfolio): 자기소개 문구 겸손하게 수정
  typescript/data/resumes/master/resume_data.json
  typescript/portfolio-worker/data.json
  typescript/portfolio-worker/index.html
  typescript/portfolio-worker/worker.js
Due: profile:sync

fix(ci): add missing build script to job-automation package
  typescript/job-automation/package.json
Due: none

fix(ci): handle broken pipe error in affected.sh
  tools/ci/affected.sh
Due: none

ci: remove affected-based skip conditions - run all jobs always
  .github/workflows/ci.yml
Due: none

fix(e2e): replace arbitrary waitForTimeout with proper wait conditions
  tests/e2e/interactions.spec.js
  tests/e2e/mobile.spec.js
  tests/e2e/portfolio.spec.js
Due: none

fix(e2e): update tests for current production content
  tests/e2e/interactions.spec.js
  tests/e2e/portfolio.spec.js
Due: none

fix(e2e): stabilize flaky tests for CI environment
  tests/e2e/interactions.spec.js
  tests/e2e/performance.spec.js
Due: none

fix(ci): run E2E tests against local build instead of production
  .github/workflows/ci.yml
Due: none

chore: update portfolio copy - conservative wording
  typescript/data/resumes/master/resume_data.json
  typescript/portfolio-worker/data.json
  typescript/portfolio-worker/worker.js
Due: profile:sync
